
@{
    ViewData["Title"] = "Index";
}

<h2>Account Page</h2>

<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Sign Up!", "Register", "Account")</p>
<p>@Html.ActionLink("Forgot Password!", "ResetPassword", "Account")</p>
@*<p>@Html.ActionLink("Test", "TestView", "Account")</p>*@




