@model CategoryDetailViewModel

<div>
    <p>Category Id: @Model.CategoryId</p>
    <p>Name: @Model.CategoryId</p>
    <p>Description Id: @Model.Description</p>
</div>
@Html.ActionLink("Go Back To Category", "Index", "Category");