
@{
    ViewData["Title"] = "Index";
}

<h2>welcome Admin</h2>
@Html.ActionLink("Log out", "LogOut", "Account")
@Html.ActionLink("View Hampers", "Index", "Hamper")
@Html.ActionLink("Add Hampers", "Create", "Hamper")

