
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome Admin</h2>
@*@Html.ActionLink("Log out", "LogOut", "Account")*@
@Html.ActionLink("View Hampers", "Index", "Hamper")<br/>
@Html.ActionLink("Add Hampers", "Create", "Hamper")<br/>
@Html.ActionLink("View All Categories", "Index", "Category")<br/>
@Html.ActionLink("Add Category", "Create", "Category")


